.item-page-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  overflow-y: auto;


  .item-info {
    padding: 20px;
  }

  .related-text {
    padding-bottom: 20px;
    font-size: 20px;
    text-align: left;
  }
}
